<a href="https://colab.research.google.com/github/satvik062/LAB-EXAM-1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
file_path='/content/drive/MyDrive/EVEN.xlsx'
df = pd.read_excel(file_path,engine='openpyxl')

In [4]:
df.head()

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback
0,BKG01438,CUST5663,BANGALORE,2024-05-27 - 2025-06-02,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...
1,BKG02701,CUST4963,Vietnam,2024/05/02 / 2025/06/28,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...
2,BKG03648,cust5625,Tokyo,2023-12-02 - 2025-03-09,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN
3,BKG02513,CUST4246,Delhi,2023-11-10 - 2024-09-13,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN
4,bkg02903,CUST3901,Chennai,2023-11-09 - 2024-08-22,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN

In [6]:
# Q1 What is the average total cost of trips for each destination?

average_cost_per_destination = df.groupby('Destination')['Total_Cost'].mean()
average_cost_per_destination

Destination
ALBANIA           73664.210000
ALEJANDROSHIRE    78168.730000
ARUBA              8573.290000
Adamsbury         22309.600000
Adamsfurt         15705.440000
                      ...
Zacharyberg       41751.850000
Zambia            20658.930000
Zamoramouth       84404.310000
Zimbabwe          31329.406667
Zimmermantown     59139.600000
Name: Total_Cost, Length: 858, dtype: float64

In [7]:
# Q2 What is the distribution of payment methods used by customers?

payment_method_distribution = df['Payment_Method'].value_counts(normalize=True) * 100
payment_method_distribution

Payment_Method
Credit Card      26.147561
Debit Card       25.426580
PayPal           24.825763
Bank Transfer    23.600096
Name: proportion, dtype: float64

In [17]:
# Q4 Create a new column that calculates the duration of each trip based on Travel_Dates?

import pandas as pd

def convert_travel_dates(date_str):
    try:
        return pd.to_datetime(date_str)
    except (ValueError, pd.errors.ParserError):
        try:

            return pd.to_datetime(date_str.split(' / ')[0])
        except (ValueError, IndexError):

            return pd.NaT


df['Travel_Dates'] = df['Travel_Dates'].apply(convert_travel_dates)



if 'Return_Date' in df.columns:
    df['Return_Date'] = pd.to_datetime(df['Return_Date'])
    df['Trip_Duration'] = (df['Return_Date'] - df['Travel_Dates']).dt.days
else:
    print("Warning: 'Return_Date' column not found. Assuming all trips last one day.")
    df['Trip_Duration'] = 1

df.head()

Warning: 'Return_Date' column not found. Assuming all trips last one day.

,Booking_ID,Customer_ID,Destination,Travel_Dates,Booking_Date,Number_of_Travelers,Travel_Package,Payment_Method,Total_Cost,Travel_Agent,Customer_Feedback,Trip_Duration
0,BKG01438,CUST5663,BANGALORE,2024-05-27 20:25:00-02:00,2023-07-26,3.0,Premium,Debit Card,41695.84,Bass Inc,Power matter brother guy. Out adult perhaps ge...,1
1,BKG02701,CUST4963,Vietnam,2024-05-02 00:00:00,2024-02-05,3.0,Standard,Credit Card,36619.85,Wood Group,Position call within size than couple. Effect ...,1
2,BKG03648,cust5625,Tokyo,2023-12-02 20:25:00-09:00,2024-07-17,2.0,NaN,NaN,44543.87,Bridges-Collins,NaN,1
3,BKG02513,CUST4246,Delhi,2023-11-10 20:24:00-13:00,2024-03-15,6.0,Luxury,Credit Card,41053.94,"Edwards, Hill and Lee",NaN,1
4,bkg02903,CUST3901,Chennai,2023-11-09 20:24:00-22:00,2023-04-09,3.0,Luxury,PayPal,36238.26,Hardy Inc,NaN,1

In [18]:
# Q5 Are there any missing values in important columns such as Travel_Package, Payment_Method, or Travel_Agent?
missing_values = df[['Travel_Package', 'Payment_Method', 'Travel_Agent']].isnull().sum()
print(missing_values)


print("\nRows with missing values in key columns:")
print(df[df[['Travel_Package', 'Payment_Method', 'Travel_Agent']].isnull().any(axis=1)])

Travel_Package    1481
Payment_Method    1089
Travel_Agent       779
dtype: int64

Rows with missing values in key columns:
     Booking_ID Customer_ID   Destination               Travel_Dates  \
2      BKG03648    cust5625         Tokyo  2023-12-02 20:25:00-09:00
5      BKG00009    CUST1126      Woodport                        NaT
6      BKG00158    CUST5667         Delhi                        NaT
8      BKG04930    CUST5259       Chennai                        NaT
9      BKG01892    CUST6067  Lake Jackson  2024-06-30 20:24:00-22:00
...         ...         ...           ...                        ...
5243   BKG04427    CUST1812         DELHI  2024-08-07 20:25:00-22:00
5244   BKG00467    CUST0769         Paris                        NaT
5245   BKG03093    CUST4090   BRANDYVILLE  2024-01-23 20:25:00-15:00
5246   BKG03773    CUST0249   SAINT LUCIA  2023-12-11 20:25:00-11:00
5248        NaN         NaN           NaN                        NaT

     Booking_Date  Number_of_Travelers Travel_Package Payment_Method  \
2      2024-07-17                  2.0            NaN            NaN
5      2024-01-21                  8.0        Premium  Bank Transfer
6      2023-12-19                  1.0        Premium            NaN
8      2024-03-16                  1.0            NaN     Debit Card
9      2024-03-14                  2.0            NaN     Debit Card
...           ...                  ...            ...            ...
5243   2023-02-08                  6.0            NaN         PayPal
5244   2024-07-19                  1.0            NaN         PayPal
5245   2024-08-17                  3.0            NaN  Bank Transfer
5246   2023-04-07                  1.0            NaN            NaN
5248          NaT                  NaN            NaN            NaN

      Total_Cost               Travel_Agent  \
2       44543.87            Bridges-Collins
5       29745.98                        NaN
6       74427.35  Cameron, Lewis and Holden
8       60427.30                  Brown PLC
9       49679.37                Smith Group
...          ...                        ...
5243    90298.70  Hebert, Thomas and Taylor
5244     6825.58              Merritt Group
5245    45823.85   King, Porter and Patrick
5246    28937.40               Lane-Hopkins
5248         NaN                        NaN

                                      Customer_Feedback  Trip_Duration
2                                                   NaN              1
5     Manager rule although financial best state how...              1
6     Interest respond action recognize task young b...              1
8                                                   NaN              1
9     Few brother career base kind fine. Imagine cas...              1
...                                                 ...            ...
5243  Whose spring writer director nice machine. Wor...              1
5244                                                NaN              1
5245                       Understand man remain tough.              1
5246  Scientist bank wife. Measure prevent fear imag...              1
5248                                                NaN              1

[2637 rows x 12 columns]

In [20]:
#Q3 How many unique destinations are present in the dataset?
unique_destinations = df['Destination'].nunique()
print(f"There are {unique_destinations} unique destinations in the dataset.")

There are 858 unique destinations in the dataset.